/* Add this CSS to your global styles or in a CSS module */
.transition-all {
    transition: min-height 0.3s ease-in-out;
}

/* Add this to your global CSS or module */
.transition-max-height {
    transition: min-height 0.3s ease-in-out;
}

.panel-border {}



.max-h-0 {
    max-height: 0;
    overflow: hidden;
}

.maxHeight1000 {
    min-height: 1000px;
    /* Adjust as needed */
}

.search-icon-btn {
    height: 26px;
    width: 26px;
    margin-top: -3px;
}

.search-svg {
    margin-top: -4px;
    margin-left: -5px;
}